<section>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/help">Help</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Items to Menu</li>
      </ol>
    </nav>
    <h2>Add Items to Menu</h2>
    <p>
      You can add items to your Restaurant's menu by following the below steps.
    </p>
    <h3>1. Go to the Restaurant's Catalogue</h3>
    <p>
      Login to your Ordbot Account and navigate to the Catalogue section in the sidebar.<br/>
      In the Catalogue page, click on <b><i class="fa fa-plus-circle"></i> Add</b>
    </p>
    <h3>2. Add single item</h3>
    <p>
      You can fill up the details in the <b>Add Item</b> tab to add a single item
    </p>
    <p>
      <mark>or</mark>
    </p>
    <h3>3. Add multiple items</h3>
    <p>
      Click on <b>Bulk Add Items</b> tab and download the sample sheet. Fill in the details of all your items in the sheet in the given format and upload it to the file upload on the page.
    </p>
    <h3>4. Check your menu </h3>
    <p>
      You can get the url of your menu by going to the settings section in your sidebar
    </p>
  </div>
</section>