<div class="card shadow mb-4">
  <div class="card-body">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="edit-profile-tab" data-toggle="tab" href="#edit-profile" role="tab" aria-controls="edit-profile" aria-selected="true">Edit <%= resource_name.to_s.humanize %></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="delete-profile-tab" data-toggle="tab" href="#delete-profile" role="tab" aria-controls="delete-profile" aria-selected="false">Delete Account</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane show active" id="edit-profile" role="tabpanel" aria-labelledby="edit-profile-tab">
        <%= render 'form' %>
      </div>
      <div class="tab-pane" id="delete-profile" role="tabpanel" aria-labelledby="delete-profile-tab">
        <%= render 'delete_account' %>
      </div>
    </div>
  </div>
</div>
