<div class="card shadow mb-4">
  <div class="card-body">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <br/>
      <div class="tab-pane show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        <%- props = {
          users:@users,
          orders_count: @orders_count,
          users_count: @users_count,
          restaurants_count: @restaurants_count,
          monthly_signups: monthly_signups(@users_by_month, @restaurants_by_month, @orders_by_month)
        } %>
        <%= react_component("SuperDashboard", props) %>
      </div>
    </div>
  </div>
</div>
