<div class="card shadow mb-4">
  <div class="card-body">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <br/>
      <div class="tab-pane show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        <!-- Content Row -->
        <div class="row">
          <!-- Restaurants -->
          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Restaurants</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @restaurants_count %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-hotel fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Users</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @users_count %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-user fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Orders</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @orders_count %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-shopping-bag fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
