$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import "bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import './orders.scss';
@import './login_buttons.scss';
