.order-card {
  margin: 0.5em;
}

.order-card .navigation {
  display: flex;
  justify-content: space-around;
}

.orders-column {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.orders-column-container {
  border-radius: 0.35rem;
  background-color: #f4f5f7;
  width: 100%;
  padding: 0.5em;
  min-height: 100%;
}

.orders-column-head {
  display: flex;
  justify-content: center;

  h4 {
    font-size: 1rem;
    font-weight: 800;
  }
}