<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">New Restaurant</h1>
<p class="mb-4">Add details about how to Twilio client id and secret, please visit the <a target="_blank" href="https://datatables.net">twilio link</a>.</p>

<%= render 'form', restaurant: @restaurant %>

<%= link_to 'Back', restaurants_path %>
