<div class="card shadow mb-4">
  <div class="card-body">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="restaurant-details-tab" data-toggle="tab" href="#restaurant-details" role="tab" aria-controls="restaurant-details" aria-selected="false">Reports</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="restaurant-details" role="tabpanel" aria-labelledby="restaurant-details-tab">
    <div class="row">
      <div class="col-lg-6">
        <br/>
        <p>
          <strong>Name:</strong>
          <%= @restaurant.name %>
        </p>
        <p>
          <strong>Address:</strong>
          <%= @restaurant.address %>
        </p>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
