<p id="notice"><%= notice %></p>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Restaurant Details</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <p>
          <strong>Name:</strong>
          <%= @restaurant.name %>
        </p>
        <p>
          <strong>Address:</strong>
          <%= @restaurant.address %>
        </p>
      </div>
    </div>
  </div>
</div>
