<p id="notice"><%= notice %></p>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Menu Items</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <%- @items.group_by(&:category).each do |category, category_items| %>
          <%= render 'items_table', category: category, category_items: category_items %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Item', new_restaurant_item_path %>
