<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-fw fa-hotel"></i>
    <span>Restaurants</span>
  </a>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Select Restaurant:</h6>
      <%- @restaurants&.each do |restaurant| %>
        <%= link_to restaurant.name, restaurant_orders_path(restaurant), class: 'collapse-item' %>
      <%- end %>
      <%= link_to new_restaurant_path, :class => 'collapse-item' do %>
        <i class="fas fa-plus-circle text-gray-400"></i> Add Restaurant
      <% end %>
    </div>
  </div>
</li>
