    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-utensils"></i>
        </div>
        <div class="sidebar-brand-text mx-3">APP</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Pages Collapse Menu -->
      <%= render 'layouts/restaurants' %>


      <%- if @restaurants.present? %>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <!-- <li class="nav-item"> -->
        <!--   <a class="nav-link" href="#"> -->
        <!--     <i class="fas fa-fw fa-cash-register"></i> -->
        <!--     <span>Register</span></a> -->
        <!-- </li> -->

        <!-- Nav Item - Orders -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-biking"></i>
            <span>Orders</span></a>
        </li>

        <!-- Nav Item - In house -->
        <!-- <li class="nav-item"> -->
        <!--   <a class="nav-link" href="#"> -->
        <!--     <i class="fas fa-fw fa-door-open"></i> -->
        <!--     <span>Dine In / Take Out</span></a> -->
        <!-- </li> -->

        <!-- Nav Item - Reports -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Reports</span></a>
        </li>

        <!-- Nav Item - Settings -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Settings</span></a>
        </li>

      <% end %>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->